grafana.{$DOMAIN} {
	reverse_proxy http://grafana:3000
	basic_auth {
		ClayenKitten $2a$14$41Mp7XpUyP9GaGKAVEmXCuR0YPNm1c8QJyGti/A.WFgWBxx6hZrDy
	}
}

loki.{$DOMAIN} {
	reverse_proxy http://loki:3100
	basic_auth {
		itamedu $2a$14$WvghIOR2eqHfw2SJO.qTs.kJoCq7rGfmr0aVln90kZdsH9FeCmxKO
	}
}

status.{$DOMAIN} {
	reverse_proxy http://gatus:8080
}
